body{
    font-family: 'Nunito', sans-serif;
    font-family: 'Poppins', sans-serif;
    margin: 0 auto;
}
.flexible-container{
    display: flex;
}
.top-section h1{
    font-size: 50px;
    border-left: 5px solid orangered;

  
}
.top-section{
    width: 50%;
    margin: 70px;
}
.top-section img{
    width: 100%;
}
.text-color{
    color: orange;
}
.link-button{
    text-decoration:  none;
    background-color: orangered;
    color: white;
    padding: 10px;
    font-weight: 400;
    border-radius: 5Px;
}
.mission-area h1{
    font-size: 50px;
    text-align: center;
}
.mission-box{
    width: 30%;
    padding: 20px;
    background-color: gray;
    margin: 50px;
    border-radius: 20px;

   
}
.mission-box img{
    width: 40%;

}
.mission-text{
    font-size: 50px;
    text-align: center;
}
#mission-box-1{
    background-color: rgb(153, 245, 237);
}
#mission-box-2{
    background-color: rgb(236, 245, 153);
}#mission-box-3{
    background-color: rgb(141, 108, 19);
}
/* middle section  this is middle section*/

.middle-section{
    width: 30%;
    margin-left: 110px;
    margin-bottom:50px;
    margin-top: 50px;
    padding:40px;
}
.middle-section img{
    width: 100%;
}
.middle-section h1{
    font-size: 30px;
}
.left-side-photo{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:60px;
    background-size: 250px;
    
   
}
.global-community{
    background-image: url(images/shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position:960px 340px ;
    background-size: 200px; 
 
}

.covid-form{
    width: 50%;
    margin: 50px;
    padding: 50px;
    background-color: rgba(186, 196, 46, 0.37);
    border-radius: 20px;
  
}
input[type=text]{
    margin-bottom:20px;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    display: block;
    border: none;
    cursor: pointer;
    
}
input[type=email]{
    margin-bottom:20px;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    display: block;
    border: none;
    width: 400px;
    cursor: pointer;
    
}
input[type=password]{
    margin-bottom:20px;
    width: 400px;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    display: block;
    border: none;
    cursor: pointer;
    
}
input[type=submit]{
    margin-top:70px;
    width: 440px;
    padding: 20px;
    border-radius: 20px;
    font-size: 20px;
    display: block;
    border: none;
    cursor: pointer;

    
}
footer{
    text-align: center;
    background-color: rgba(0, 0, 0, 0.897);
    color:white;
    padding: 15px;
}